.faq-section-os .faq_heading h4 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #232323;
    margin: 0;
    padding-bottom: 16px
}
.faq-section-os .faq_data {
    padding: 24px;
    margin-top: 2rem;
    background: #fff;
    border-radius: 4px;
}

.faq-section-os .faq_accordion button.accordion-button.collapsed {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: none;
    padding: 16px 12px;
    background: rgba(253, 249, 249, 0.23);
    border-radius: 3px;
}
.faq-section-os .accordion-body {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 16px 12px;
}

.faq-section-os .faq_accordion .accordion-item {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1rem;
    background: rgba(253, 249, 249, 0.23);
    border-radius: 3px;
    border: none;
}
.faq-section-os .faq_accordion .accordion-button:not(.collapsed) {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background: unset;
    padding: 16px 12px;
}
.faq-section-os .faq_accordion .accordion-button:focus {
    box-shadow: none;
}

.faq-section-os .faq_accordion .accordion-button::after {
    background-image: url(../../../Images/accordion_arrow.svg);
    background-size: 16px;
    transform: translateY(4px);
}

.faq-section-os .faq_accordion .accordion-button:not(.collapsed)::after {
    background-image: url(../../../Images/accordion_arrow.svg);
    background-size: 16px;
    transform: rotate(-180deg) translate(4px, 4px);
}

.faq-section-os .faq_butons .active{
    background: #7AD8E7;
    color: #fff;
    border: 1px solid #7AD8E7;
}

/*  */

.faq-section-os .faq_accordion.faq-data-os>div {
    width: 49%;
}
.faq-section-os .faq_accordion.faq-data-os {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.faq-section-os .faq-all-data-os {
    background: #1E2959;
    border-radius: 17.25px;
    padding: 2rem 1rem;
}



@media screen and (max-width:1024px) {
    .faq-section-os .faq_accordion.faq-data-os {
        gap: 1rem;
    }
}


@media screen and (max-width:767px) {
    .faq-section-os .faq_accordion.faq-data-os {
        display: flex;
        align-items: center;
        gap: 0rem;
        flex-wrap: wrap;
    }
    .faq-section-os .faq_accordion.faq-data-os>div {
        width: 100%;
    }
    .faq-section-os .faq_accordion .accordion-item-2:last-child {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 576px) {
    .faq-section-os .faq_data {
        padding: 16px;
    }
    .faq-section-os .faq_butons {
        flex-wrap: wrap;
    }
    .faq-section-os .faq_btn-1 {
        width: 100%;
    }
    .faq-section-os .faq_btn-2 {
        width: 100%;
        padding: 12px 0;
    }
    .faq-section-os .faq_btn-3 {
        width: 100%;
    }
    .faq-section-os .faq_butons button {
        font-size: 12px;
        line-height: 16px;
    }
    .faq-section-os .faq_heading h4 {
        font-size: 16px;
        line-height: 20px;
    }
    .faq-section-os .faq_accordion button.accordion-button.collapsed {
        font-size: 14px;
        line-height: 18px;
        padding: 12px;
    }
    .faq-section-os .faq_accordion .accordion-button:not(.collapsed) {
        font-size: 14px;
        line-height: 18px;
        padding: 12px;
    }
    .faq-section-os .accordion-body {
        padding: 12px;
    }

    .faq-section-os .faq_accordion .accordion-button::after {
        transform: translate(8px, 4px);
        background-size: 12px;
    }
    .faq-section-os .faq_accordion .accordion-button:not(.collapsed)::after {
        background-size: 12px;
        transform: rotate(-180deg) translate(0px, 4px);
    }
}