.main-button-image-os {
    display: flex;
    align-items: center;
}

.main-button-os a:hover {
    opacity: 0.9;
}

@media screen and (max-width:576px) {
    .main-button-os a {
        font-size: 16px !important;
        line-height: 20px !important;
        height: 40px !important;
    }    
}